# **Introduction to pandas Data Structures**

In [2]:
import numpy as np
import pandas as pd

### **Series** :

In [4]:
from pandas import Series, DataFrame

In [7]:
obj = pd.Series(['data1','data2','data3'])
obj

0    data1
1    data2
2    data3
dtype: object

In [8]:
obj.array

<NumpyExtensionArray>
['data1', 'data2', 'data3']
Length: 3, dtype: object

In [10]:
obj.index

RangeIndex(start=0, stop=3, step=1)

In [11]:
obj2 = pd.Series(['D1','D2','D3','D4'], index=['a','b','c','d'])
obj2

a    D1
b    D2
c    D3
d    D4
dtype: object

Using NumPy functions or NumPy-like operations, such as filtering with a Boolean array, scalar multiplication, or applying math functions, will preserve the index-value link:

In [14]:
obj3 = pd.Series([-2,-1,0,1,2],index=['a','b','c','d','e'])
obj3[obj3>0]

d    1
e    2
dtype: int64

In [25]:
'e' in obj3

True

- you can create a Series by passing a dictionary to it.

In [28]:
dct = {
    'name':'sepehr',
    'age' : 22,
    'birthdate' : '2001/01/12',
    'city' : 'Shiraz',
    'major' : 'Computer Engineering'
    }
data = pd.Series(dct)
data

name                       sepehr
age                            22
birthdate              2001/01/12
city                       Shiraz
major        Computer Engineering
dtype: object

In [45]:
indx = {'name','age','major','term'}
data = pd.Series(dct , index=indx)
data

name                   sepehr
term                      NaN
age                        22
major    Computer Engineering
dtype: object

In [53]:
data.isna()

name     False
term      True
age      False
major    False
dtype: bool

In [54]:
data.name = "Students"
data.index.name = "Student Info"
data

Student Info
name                   sepehr
term                      NaN
age                        22
major    Computer Engineering
Name: Students, dtype: object